﻿<p style="text-align:center;">
	<iframe src="http://kindeditor.net/ke4/plugins/baidumap/index.html?center=104.008482%2C30.672069&amp;zoom=19&amp;width=558&amp;height=360&amp;markers=104.008482%2C30.672069&amp;markerStyles=l%2CA" frameborder="0" style="width:560px;height:362px;">
	</iframe>
</p>