﻿<div style="text-align:center;">
	<span style="line-height:1.5;font-size:18px;"><strong>大大财经郑重声明</strong></span> 
</div>
1、大大财经平台理解每一位投资者，希望能够持续、稳健获利、并及时获得资讯的迫切心情，但大大财经平台仅仅是证券市场题材概念资讯平台，所载消息并不能够作為买卖依据（切记！），这是您在阅读我们平台的内容前必须意识到并接受的。<br />
2、大大财经平台以客观、独到、深度、权威的高品质报道和分析，為商业人群决策提供最有价值的帮助。<br />
请务必了解:大大财经倡导“事件驱动型交易策略”进行信息发布和题材总结，但并不保证时效性，也不能做為股票买卖的依据！<br />
3、平台资讯信息完全免费，大大财经严格遵守国家相关法律、法规！不开展任何证券咨询业务，不约定分成与承诺收益等业务，不提供任何形式的股票合作。<br />
4、本平台资讯不收取任何费用，无任何合作，消息来自网络收集和网友提供仅供参考，切勿盲目跟风。谨防“抢帽子”如有侵权或疑问、不足之处请联系我们！<br />
5、大大财经平台登载的信息仅出于传递更多信息之目的，并不意味着赞同其观点或证实其描述。文章内容仅供参考，不构成投资建议。投资者据此操作，风险自担。<br />
<br />
<span style="color:#E53333;"><strong>郑重提示：股市有风险，投资需谨慎！</strong></span><br />