﻿<p>
	<p class="terms-content-title" style="font-size:24px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;text-align:center;">
		大大财经终端隐私权保护声明
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		大大财经终端隐私权保护声明系大大财经金融服务有限公司（以下简称“大大财经”）对于保护您（以下简称“您”）个人隐私之承诺。鉴于互联网的特性， 大大财经终端（以下简称“终端”）在运营过程中，将无可避免地与您发生直接或间接的互动关系，故特此说明大大财经对您个人信息所采取的收集、使用和保护政策，请您务必仔细阅读。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		1. 使用者非个人化信息
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		1.1 大大财经将通过您的IP地址来收集非个人化的信息，例如您的浏览器性质、操作系统种类、给您提供接入服务的ISP的域名等，以优化在您计算机屏幕上显示的页面。通过收集上述信息，大大财经金融服务有限公司亦进行客流量统计，从而改进终端和网站的管理和服务。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		2. 个人资料
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		2.1 通常，您必须在注册之后才能登录访问终端某些栏目并获取信息。在请求您提供有关信息之前，大大财经会解释这些信息的用途。在通常情况下，这类注册只要求您提供一个电子邮件地址或手机号码和一些诸如您的工作，职务一类的基本信息。&nbsp;<br />
2.2 终端的某些功能尤其是收费的功能可能需要您提供更多的信息。大大财经这样做是为了更好的理解您的需求，以便向您提供有效的服务。大大财经收集的信息包括姓名，地址和电话号码等。&nbsp;<br />
2.3 在不透露单个您隐私资料的前提下，大大财经有权对整个您数据库进行分析并对您数据库进行商业上的利用。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		3. 信息安全
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		3.1 大大财经将对您所提供的资料进行严格的管理及保护，大大财经将使用相应的技术，防止您的个人资料丢失、被盗用或遭窜改。&nbsp;<br />
3.2 大大财经在必要时委托专业技术人员代为对该类资料进行电脑处理，以符合专业分工时代的需求。如大大财经将电脑处理之通知送达予您，而您未在通知规定的时间内主动明示反对，大大财经将推定您已同意。惟在其后您仍然有权如下述第4.1.(d)条之规定，请求停止电脑处理。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		4. 您的权利
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		4.1 您对于自己的个人资料享有以下权利：&nbsp;<br />
&nbsp;&nbsp;(a) 随时查询及请求阅览；&nbsp;<br />
&nbsp;&nbsp;(b) 随时请求补充或更正；&nbsp;<br />
&nbsp;&nbsp;(c) 随时请求删除；&nbsp;<br />
&nbsp;&nbsp;(d) 请求停止电脑处理及利用。&nbsp;<br />
4.2 针对以上权利，大大财经为您提供相关服务，您可以及时联系大大财经。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		5. 限制利用原则
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		5.1 大大财经惟在符合下列条件之一，方对收集之个人资料进行上述规定范围以外之利用：&nbsp;<br />
&nbsp;&nbsp;(a) 已取得您的书面同意；&nbsp;<br />
&nbsp;&nbsp;(b) 为免除您在生命、身体或财产方面之急迫危险；&nbsp;<br />
&nbsp;&nbsp;(c) 为防止他人权益之重大危害；&nbsp;<br />
&nbsp;&nbsp;(d) 为增进公共利益，且无害于您的重大利益。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		6. 个人资料之披露
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		6.1 当司法机关、政府机关依照法定程序要求大大财经披露个人资料时，大大财经将根据司法、执法单位之要求或为公共安全之目的提供个人资料。在此情况下之任何披露，大大财经均得免责。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		7. 信息传送
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		7.1 大大财经及其必要的服务伙伴使用您的个人资料来运作终端，并且会通知您各项新的功能与服务，以及大大财经及其附属公司的各类产品。大大财经也会谨慎地挑选来自其他公司的产品或服务资料传送给您，通常是有关于终端和大大财经本身的服务，但并非必要（次要用途）。&nbsp;<br />
7.2 如果大大财经想要将个人资料用在次要用途上，大大财经会提供您如何拒绝这项服务的说明。您可以大大财经寄给您的资料或促销信件上的说明，终止这些信件的发送。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		8. 免责
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		8.1 除上述第6条规定属免责外，出现下列情况时大大财经亦毋需承担任何责任：&nbsp;<br />
&nbsp;&nbsp;(a) 由于您将您密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露以及导致所形成的一切后果；&nbsp;<br />
&nbsp;&nbsp;(b) 任何由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响终端和网站正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等；&nbsp;<br />
&nbsp;&nbsp;(c) 由于与终端链接的其它信息终端所造成之个人资料泄露及由此而导致的任何法律争议和后果。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		9. 解释权
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		9.1 大大财经终端隐私权保护声明的修改及解释权均属于大大财经。
	</p>
</p>