﻿<p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		1. 特别提示
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		1.1 大大财经金融服务有限公司（以下简称“大大财经”）在此特别提醒：用户（以下称“您”）欲访问和使用大大财经终端（以下简称“终端”）必须事先认真阅读本服务条款中各条款，包括免除或者限制大大财经的免责条款及对您的权利限制。请您审阅并接受或不接受本服务条款（未成年人审阅时应得到法定监护人的同意并陪同）。如您不同意本服务条款及/或随时对其的修改，您应不使用或主动取消大大财经提供的服务。您的使用行为将被视为您对本服务条款全部的完全接受，包括接受大大财经对服务条款随时所做的任何修改。&nbsp;<br />
1.2 这些条款可由大大财经随时更新，且毋须另行通知。大大财经终端服务条款（以下简称“服务条款”)一旦发生变更, 大大财经将在终端或其网站（www.ddcj.net）上公布修改内容。修改后的服务条款一旦公布即有效代替原来的服务条款。您可随时登录终端或网站（www.ddcj.net）查阅最新版服务条款。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		2. 服务内容
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		2.1 终端服务的具体内容由大大财经根据实际情况提供，包括各种信息工具、个性化内容等。大大财经保留随时变更、中断或终止终端的部分或全部服务的权利。&nbsp;<br />
2.2 大大财经在提供终端服务时，可能会就某些服务向您收取一定的费用，服务有期限,您一旦支付完毕费用将不能要求大大财经返还。在此情况下，终端会在相关页面上做明确的提示。如您拒绝支付该笔费用，则不能使用相关的终端服务。&nbsp;<br />
2.3由于相关政策、法规及市场存在变化的可能，大大财经保留将来对服务价格调整的权利。&nbsp;<br />
2.4您应当了解，终端仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如电脑、调制解调器及其他与接入互联网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费）均应由您自行负担。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		3. 使用规则
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		3.1 您在申请使用终端服务时，必须向终端提供真实准确的个人资料，如个人资料有任何变动，必须及时更新。&nbsp;<br />
3.2 您注册成功后，终端将给予您一个帐号及相应的密码，您的帐号和密码由您负责保管；您应当对以其您帐号进行的所有行为和事件负法律责任。&nbsp;<br />
3.3 您必须同意接受终端通过电子邮件或其他方式向您发送的商品促销或其他相关商业信息。&nbsp;<br />
3.4 您在使用终端网络服务过程中，必须遵循以下原则：&nbsp;<br />
&nbsp;&nbsp;(a) 遵守中国有关的法律和法规及规章；&nbsp;<br />
&nbsp;&nbsp;(b) 不得为任何非法或违法目的而使用网络服务系统；&nbsp;<br />
&nbsp;&nbsp;(c) 遵守所有与网络服务有关的网络协议、规定和程序；&nbsp;<br />
&nbsp;&nbsp;(d) 不得利用终端网络服务系统进行任何可能对互联网的正常运转造成不利影响的行为；&nbsp;<br />
&nbsp;&nbsp;(e) 不得利用终端网络服务系统传输任何骚扰性的、中伤他人的、辱骂性的、敲诈性的、恐吓性的、庸俗淫秽的、违背社会公德或其他任何非法的信息资料；&nbsp;<br />
&nbsp;&nbsp;(f) 不得利用终端网络服务系统进行任何不利于终端的行为；&nbsp;<br />
&nbsp;&nbsp;(g) 如发现任何非法使用您帐号或帐号出现安全漏洞的情况，应立即通告终端。&nbsp;<br />
3.5 如您在使用终端服务时违反任何上述规定，终端或及其授权的人有权要求您改正或直接采取一切必要的措施（包括但不限于更改或删除您张贴的内容等、暂停或终止您使用网络服务的权利）以减轻您不当行为造成的影响。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		4. 内容所有权
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		4.1 终端提供的网络服务内容可能包括：文字、软件、声音、图片、录象、图表等。所有这些内容受版权（著作权）、商标和其它知识产权法律的保护。&nbsp;<br />
4.2 您只有在获得终端或其他相关权利人的授权之后才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		5. 隐私保护
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		关于您的「个人资料」以及其他特定资料均受到<a href="http://ddcj.net/terms.html#ysqtk">《大大财经终端隐私权保护声明》</a>之规范。请查阅附后的完整<a href="http://ddcj.net/terms.html#ysqtk">《大大财经终端隐私权保护声明》</a>。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		6. 免责声明
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		6.1 您明确同意使用终端服务所存在的风险将完全由自己承担；因使用终端服务而产生的一切后果也由自己承担，大大财经对您不承担任何责任；终端中文章、图表等所有资料只供您提高技能学习之使用，仅具有参考作用，并不构成对您的投资建议，并非作为买卖、认购证券或其它金融工具的邀请或保证,您据此进行投资和决策所造成的一切后果也由自己承担，大大财经对您不承担任何责任。&nbsp;<br />
6.2 终端不担保网络服务一定能满足您的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。&nbsp;<br />
6.3终端不保证为向您提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由终端实际控制的任何网页上的内容，终端不承担任何责任。&nbsp;<br />
6.4对于因不可抗力或终端不能控制的原因造成的网络服务中断或其它缺陷，终端不承担任何责任，但将尽力减少因此而给您造成的损失和影响。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		7. 服务变更、中断或终止
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		7.1 如因系统维护或升级的需要而需暂停网络服务，终端将尽可能事先进行通告。&nbsp;<br />
7.2 如发生下列任何一种情形，终端有权随时中断或终止向您提供本协议项下的网络服务而无需通知您：&nbsp;<br />
&nbsp;&nbsp;(a) 您提供的个人资料不真实；&nbsp;<br />
&nbsp;&nbsp;(b) 您违反本协议中规定的使用规则。&nbsp;<br />
7.3 除前款所述情形外，终端同时保留在不事先通知您的情况下随时中断或终止部分或全部网络服务的权利，对于所有服务的中断或终止而造成的任何损失，终端无需对您或任何第三方承担任何责任。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		8. 违约赔偿
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		8.1 您同意保障和维护终端及其他您的利益，如因您违反有关法律、法规、规章或本协议项下的任何条款而给终端或任何其他第三人造成损失，您同意承担由此造成的损害赔偿责任。根据《合同法》等相关法律规定，如为我司责任，由我司承担相应的法律责任。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		9. 协议修改
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		9.1 终端将有权随时修改本协议的有关条款，一旦本协议的内容发生变动，终端将会通过适当方式向您提示修改内容。&nbsp;<br />
9.2 如果不同意终端对本协议相关条款所做的修改，您有权停止使用网络服务。如果您继续使用网络服务，则视为您接受终端对本协议相关条款所做的修改。&nbsp;<br />
9.3如果您在签订本此协议之日起5个工作日内对大大财经终端有不满意可以书面通知方式解除使用协议。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		10. 法律管辖
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		10.1 本协议的订立、执行和解释及争议的解决均应适用中国法律。&nbsp;<br />
10.2 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向终端所在地的人民法院提起诉讼。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		11. 通知和送达
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		11.1 本协议项下所有的通知均可通过重要页面公告、电子邮件或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。
	</p>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		12. 其他规定
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		12.1 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。&nbsp;<br />
12.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。&nbsp;<br />
12.3 本协议中的标题仅为方便而设，在解释本协议时应被忽略。
	</p>
<span style="color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:14px;line-height:normal;background-color:#FFFFFF;"></span>
	<p class="terms-content-title" style="font-size:18px;font-weight:bold;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		13. 修改权和解释权
	</p>
	<p class="terms-content-text" style="font-size:16px;color:#444444;font-family:'microsoft yahei', SimHei, SimSun, Tahoma, Verdana, Arial, Helvetica, sans-serif;">
		13.1 本条款的修改权和解释权归大大财经所有。
	</p>
</p>